.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF;
        span {
            font-size: 18px;
            margin-top: 2px;
            display: block;
        }
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 18px;
        text-align: right;
        text-decoration: none;
        color: #FFFFFF;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}