.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 91px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons {
        margin-top: 60px;
        width: 424px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 106px;
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        text-align: right;
        color: #FFFFFF;
        a {
            color: #FFFFFF;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}