.reviews {
    padding-bottom: 48px;
    &__item {
        display: flex;
        margin-top: 60px;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__text {
        margin-left: 60px;
        padding-right: 40px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__count {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
}